a.navbar-brand svg {
    width: 87px;
    height: 23px;
    fill: #fff;
    -webkit-transition: 400ms cubic-bezier(.455, .03, .515, .955);
    transition: 400ms cubic-bezier(.455, .03, .515, .955);
    -webkit-transition-property: fill, width, height;
    transition-property: fill, width, height;
}